<form class="search-add" (submit)="onSubmit()">
    <div class="form-wrap-input">
        <input type="text" class="form-input" placeholder="Search" (keyup)="applyFilter($event)">
        <button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
        </button>
    </div>
    <button mat-flat-button color="primary" (click)="openModal()">Add</button>
</form>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ngaytao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </th>
        <td mat-cell *matCellDef="let element"> {{element.ngaytao | date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="loaichitieu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Loại chi tiêu </th>
        <td mat-cell *matCellDef="let element"> {{element.loaichitieu}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sotien">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Số tiền </th>
        <td mat-cell *matCellDef="let element"> {{element.sotien | currency: 'VND'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ghichu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ghi chú </th>
        <td mat-cell *matCellDef="let element"> {{element.ghichu}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Thao tác </th>
        <td mat-cell *matCellDef="let element">
            <div class="action">
                <a mat-raised-button color="accent" (click)="openModalEdit(element)">Edit</a>
                <a mat-raised-button color="warn" (click)="openModalDelete(element.id)">Delete</a>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
                  showFirstLastButtons
              [pageSize]="10"
                  aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
