<div id="wrapper">
    <app-header (toggleSideBarForMe)="toggleSideBar($event)"></app-header>
    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" [opened]="toggle" class="sidebar">
            <app-sidebar [arrSideBar]="arrSideBar" (buttonClicked)="onButtonClickFromSideBar($event)"></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main-content">
                <app-breadcrumb [breadcrumn]="breadcrumn"></app-breadcrumb>
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
