<mat-list role="list" class="menu-sidebar">
    <div class="profile-card">
      <div class="profile-card__image">
        <img src="assets/images/user.jpg" alt="">
      </div>
      <div class="profile-card__info">
        <h2>ChuDoan97</h2>
        <h4>Bố</h4>
      </div>
    </div>
    <div class="menu-sidebar__main">
      <span matSubheader>Page</span>
      <div role="listitem" *ngFor="let item of arrSideBar">
        <a [routerLink]="item.url" color="primary" (click)="onButtonClick(item)">
            {{item.text}}
        </a>
      </div>
    </div>
</mat-list>
