<form (ngSubmit)="onSubmit()" class="example-container">
  <h2 mat-dialog-title>Form Add Spending Record</h2>
  <mat-dialog-content class="mat-typography">
    <div>
      <mat-form-field appearance="outline" class="item-form">
        <mat-label>Ngày tạo</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="item-form">
        <mat-label>Loại chi tiêu</mat-label>
        <input matInput placeholder="Placeholder" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" class="item-form">
        <mat-label>Số tiền</mat-label>
        <input matInput placeholder="Placeholder" type="number">
      </mat-form-field>
      <mat-form-field appearance="outline" class="item-form">
        <mat-label>Ghi chú</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Hủy</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Thêm</button>
  </mat-dialog-actions>
</form>
