.form-login {
  background-color: #fff;
  padding: 47px 36px;
  width: 388px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}

.form-login .form-input {
  padding-left: 0;
}

.form-login__rem-lost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.59375em;
}

.form-login__remember {
  font-size: 13px;
}

.form-login__lost-password {
  font-size: 13px;
  color: #078169;
}

.form-login__button {
  width: 100%;
  background-color: #078169;
  color: #fff;
}
