<header>
    <p>
        <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon matBadge="2" matBadgeColor="warn">comment</mat-icon>
          </button>
          <a class="user">
            <div href="" class="user__img">
              <img src="assets/images/user.jpg" alt="">
            </div>
            <p>Doan Chu</p>
          </a>
        </mat-toolbar>
    </p>
</header>
